<div class="carousel" id="featured-news">
  <div class="carousel-inner">
    <% @articles.each do |article| %>
      <% first = article == @articles.first %>
      <%= render article, first: first %>
    <% end %>
  </div>
  <a class="carousel-control left" href="#featured-news" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#featured-news" data-slide="next">&rsaquo;</a>
</div>
