/* Student Peace Prize */

/* <LAYOUT> */
*
{
  margin: 0;
}
html
{
	height: 100%;
}
body
{
  background: url(../images/layout/background.png) center 140px repeat-y #221e1f;
	min-height: 100%;
	height: 100%;
  text-align: center;
}
div#container
{
  background: url(../images/layout/background.png) 0px 140px repeat-y;
  position: relative;
  margin: 0 auto;
	height: 100%;
  text-align: left;
  width: 1121px;
}
div#logo
{
  background: url(../images/layout/logo.png);
  height: 157px;
  position: absolute;
  top: 10px;
  left: 80px;
  width: 72px;
}
a#news, a#news-active
{
  background: url(../images/layout/news.png);
  display: block;
  height: 24px;
  position: absolute;
  top: 179px;
  left: 91px;
  width: 38px;
}
a#news:hover, a#news-active
{
  background: url(../images/layout/news-active.png);
}
a#about, a#about-active
{
  background: url(../images/layout/about.png);
  display: block;
  height: 40px;
  position: absolute;
  top: 246px;
  left: 59px;
  width: 18px;
}
a#about:hover, a#about-active
{
  background: url(../images/layout/about-active.png);
}
a#laureates, a#laureates-active
{
  background: url(../images/layout/laureates.png);
  display: block;
  height: 90px;
  position: absolute;
  top: 276px;
  left: 128px;
  width: 48px;
}
a#laureates:hover, a#laureates-active
{
  background: url(../images/layout/laureates-active.png);
}
a#committees, a#committees-active
{
  background: url(../images/layout/committees.png);
  display: block;
  height: 85px;
  position: absolute;
  top: 365px;
  left: 73px;
  width: 110px;
}
a#committees:hover, a#committees-active
{
  background: url(../images/layout/committees-active.png);
}
a#press, a#press-active
{
  background: url(../images/layout/press.png);
  display: block;
  height: 56px;
  position: absolute;
  top: 510px;
  left: 87px;
  width: 73px;
}
a#press:hover, a#press-active
{
  background: url(../images/layout/press-active.png);
}
a#contact, a#contact-active
{
  background: url(../images/layout/contact.png);
  display: block;
  height: 28px;
  position: absolute;
  top: 662px;
  left: 130px;
  width: 57px;
}
a#contact:hover, a#contact-active
{
  background: url(../images/layout/contact-active.png);
}
div#header
{
	height: 126px;
	left: 223px;
	position: absolute;
	top: 0;
	width: 898px;
}
div.header-news
{
	background: url(../images/layout/headers/news.jpg);
}
div.header-about
{
	background: url(../images/layout/headers/about.jpg);
}
div.header-laureates
{
	background: url(../images/layout/headers/laureates.jpg);
}
div.header-committees
{
	background: url(../images/layout/headers/committees.jpg);
}
div.header-press, div.header-contact
{
	background: url(../images/layout/headers/press_contact.jpg);
}
div#menu
{
	position: absolute;
	left: 240px;
	top: 220px;
	width: 190px;
}
div#content
{
	text-align: justify;
	padding-top: 200px;
	position: relative;
	left: 450px;
	width: 450px;
}
/* </LAYOUT> */

/* <FORMATTING> */
body
{
	font-family: 'Trebuchet MS', 'Sans Serif';
	font-size: 13px;
}
div#menu
{
	font-size: 16px;
}
div#menu a
{
	color: #000;
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
}
div#content
{
	line-height: 150%;
}
h1
{
	font-size: 19px;
	margin-bottom: 10px;
}
h2
{
	margin-bottom: 10px;
}
h3
{
	margin-bottom: 10px;
}
p
{
	margin-bottom: 10px;
}
div.ingress
{
	font-weight: bold;
}
span.date
{
	font-size: 10px;
}
a
{
	color: #886600;
}
div.article
{
	margin-bottom: 20px;
}

.quote {
  text-align:center;
  color:#63b0b3;
  margin:0;
  font-size: 18;
}

.quote2 {
  text-align:center;
  color:#63b0b3;
  margin:0;
}
.event_category {
	background: #fff;
	margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
	padding: 5px;
	text-align: center;
}
.event {
	background: #fff;
	margin: 5px;
	padding: 5px;
}
.event_day_name {
	color: #00394A;
	font-weight: bold;
} 
.event_day {
	font-size: 40px;
}
.event_month {
	color: #00394A;
	font-weight: bold;
} 
.event_date {
	text-align: center;
	width: 80px;
	height: auto;
	float: left;
	margin: 5px 20px 5px 5px;
}
.event_content {
	width: 530px;
}
.event_category_button {
	margin: 0px 15px 0px 15px;
	}
	
.event_information {
	width: 190px;
	background: #EDEFF4;
	border: 1px #00394A solid;
	float: left;
  padding: 10px 0px 10px 10px;

}
	
#event_infobox {
	background: #fff;
}


/* </FORMATTING> */
