/*
 *= require bootstrap.css
 *= require bootstrap-responsive.css
 *= require style.css
 *= require parallax-slider.css
 *= require_self
 */

.post {
  font-size: 1.2em;
}
.post h4 {
  font-size: 1.4em;
  font-weight: bold;
}

#footer-menu-logo .brand img{
  margin-top: -15px !important;
}

a {
  color: #D56B1D;}
a:hover {
  color: #D56B1D;}
