/*
 *= require bootstrap.css
 *= require style.css
 *= require fancybox.css
 *= require parallax-slider.css
 *= require hover.css
 *= require icons-color.css
 *= require icons.css
 *= require social-icons.css
 *= require styleie9.css
 *= require_self
 */

#footer-menu-logo .brand img{
  margin-top: -15px !important;
}

a {
  color: #D56B1D;}
a:hover {
  color: #D56B1D;}

.navbar li.active > a > [class^="icon-"],
.navbar li.active > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings.png") !important;
}
