body {
  background: #fffcfb;
  color: #7b776f;
  font-size: 12px;
}


#wrapper { 
  background: url(../assets/header2.png) no-repeat; 
  height:420px;
}

/*Header sitat*/
#quotation { 
  height:113px; 
  margin-top:45px;
  width: 540px; 
}
#quotation p { 
  text-align:center; 
  margin:0;
}

.quote {
  text-align:center;
  color:#63b0b3;
  margin:0;
  font-weight: normal;
  font-size: 14px;
}

.quote2 {
  text-align:center;
  color:#63b0b3;
  font-size:13px;
  font-weight: normal;
  margin:0;
}

.unqoute {
  padding-left:5px
}

/*Hoved Meny*/
#nav {
  margin-top:25px;
  height:29px;
}
#menu { 
  list-style: none; 
  padding: 5px 0 0 0; 
  margin:0; 
  text-align: center;
}
#menu li { 
  display: inline;
  overflow:hidden; 
  margin:0; 
  padding: 0 10px 0 10px;  
}
#menu li a { 
  text-decoration:none; 
  font-weight:bold; 
  font-size:13px;
}
.mactive {
  color:#d56b1d;
}
.minactive {
  color:#7b776f;
}
.minactive:hover { 
  color:#63b0b3;
}

/*Header tekst under SPP*/
#headertext { 
  height:28px; 
  margin-top:70px;
}
#headertext p { 
  font-weight:bold; 
  text-align:left; 
  color:#63b0b3; 
  margin:0; 
  padding-left:15px;
}
#mainframe {
  height:auto;
}
#mainend {
  margin: 20px 0 0 0;
}

/*Høyre kolonne*/
#sidebar {
  background: #e9e7e0; 
  height:auto; 
  padding-top:80px;
  margin-top:60px;
}
#sidebar input[type="text"], #sidebar textarea {
  font-size: 12px;
  color: #7b776f;
  margin: 0 0 20px 3px;
  padding: 2px 0 2px 5px;
  background: #fffcfb;
  display: block;
  border: solid 1px #d3d1cb;
  width: 90px;
  height: 14px;
  float: left;
}
#sidebar input.btn {
  font-size: 12px;
  color: #fffcfb; 
  text-align: center;
  background-color: #63b0b3; 
  width: 57px;
  height: 20px;
  padding:0 0 3px 0;
  float: left;
  border:0;
} 
#sidebar h1 {
  color:#63b0b3; 
  font-size:14px; 
  font-weight:bold; 
  margin:10px 10px 5px 10px; 
  clear:both
}
#sidebar p {
  color:#7b776f; 
  font-size:12px; 
  margin:0 10px 0 10px;
}
.signature {
  color:#7b776f; 
  padding:20px 0 0 0; 
  font-style:italic;
}
.signaturepic {
  padding:0; 
  margin:5px 0 10px 12px;
}

/*Under meny*/
#subnav {
  height:29px; 
  border:1px #d2d0ca solid; 
  border-bottom:0; 
  border-left:0; 
  border-right:0;
}
#activesubnav {
  height:28px; 
  border:1px #d2d0ca solid; 
  border-left:0; 
  border-right:0;
}
#spacersubnav {
  height:29px;
}
#submenu { 
  list-style: none; 
  padding: 0; 
  margin:0; 
}
#submenu li { 
  float:left; 
  overflow:hidden; 
  margin:0; 
  padding: 5px 10px 0 10px;  
}
#submenu li a { 
  text-decoration:none; 
  font-size:12px;
}
#spacerright {
  height:100px;
}

/*HOME hoved ARTIKLER*/
.mainart {
  background: #e9e7e0; 
  height:auto; 
  margin-top:10px;
  margin-bottom: 20px;
}
.mainpic {
  height:150px; 
  width:350px; 
  border:3px #d2d0ca solid; 
  float:left; 
  margin:10px;
}
.mainart a {
  text-decoration:none !important;
}
.mainart h1 {
  color:#d56b1d; 
  font-size:14px; 
  font-weight:bold; 
  margin:10px 10px 5px 0;
}
.mainart p {
  color:#7b776f; 
  font-size:12px; 
  margin:0 10px 10px 0;
}

/*HOME mindre ARTIKLER*/
.art {
  height:325px; 
  margin-top:10px;
}
.artpic {
  height:130px; 
  width:218px; 
  border:1px #d2d0ca solid; 
  float:left; 
  margin:0 0 5px 0;
}
.art a {
  text-decoration:none !important;
}
.art h1 {
  color:#d56b1d; 
  font-size:14px; 
  font-weight:bold; 
  margin:10px 10px 5px 0;
}

.art p {
  color:#7b776f; 
  font-size:12px; 
  margin:0 10px 0px 0;
}

/*ANDRE tekster*/
.otherart { 
  height:auto; 
  margin-top:10px;
  text-align:justify;
}
.otherpic {
  height:344px; 
  width:458; 
  border:1px #d2d0ca solid; 
  float:left; 
  margin:10px 0 10px 0;
}
.otherart a {
  text-decoration:none !important;
}
.otherart h1 {
  color:#151515; 
  font-size:18px; 
  font-weight:bold; 
  margin:10px 10px 5px 0;
  /*	clear:both;*/
}
.otherart h2 {
  color:#d56b1d; 
  font-size:14px; 
  font-weight:bold; 
  margin:10px 10px 15px 0;
  /*	clear:both;*/
}
.otherart p {
  color:#7b776f; 
  font-size:12px; 
  margin:0 0 10px 0;
  text-align:justify;
}
.infobox {
  width: 200px;
  background: #e9e7e0; 
  height:auto;
  padding: 10px;
}

.infoheader {
  font-weight: bold;
  font-size: 14px;
  color #d56b1d
}
/*ARTIKLER for Andre sider*/


#footer { 
  margin-top:50px;
}
#footernav h1 {
  width: 450px;
  color:#7b776f; 
  font-size:14px; 
  margin:10px 0 0 0; 
  padding:0;
}


#footerpart h1, #footerinfo h1 {
  color:#7b776f; 
  font-size:14px; 
  margin:10px 0 0 0; 
  padding:0;
}
#footerinfo p {
  font-size:10px; 
  text-align:right;
}
.footermenu { 
  list-style: none; 
  padding: 0; 
  margin:0;
}
.footermenu li { 
  overflow:hidden; 
  margin:0; 
  padding:0;
}
.footermenu li a { 
  text-decoration:none; 
  font-size:11px;
}
.display_none { 
  display:none; 
}
.category {
  color:#d56b1d;
}
.subcategory {
  color:#63b0b3;
}
.subcategory:hover, .category:hover { 
  color:#d2d0ca !important;
}
div.container {
  text-align:justify
}
