<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="description" content="The Student Peace Prize" />
		<meta name="keywords" content="isfit student peace prize" />
		<%= stylesheet_link_tag('front') %>
		<title>The Student Peace Prize</title>
	</head>
  <body>
		<div id="wrapper">
			<div id="container">
				<%= link_to(image_tag("layout/front.gif", :border => 0),
					:tab => :news, :controller => :article) %>
			</div>
		</div>
	</body>
</html>
